/*.toggable{

    .toggable-btn{

    }
    &:after{
        transition: all .2s ease;
        transform: rotate(180deg);
    }
    &:hover{
    }
    &:hover:after{
    }
}
.toggaled:after{
    transform: rotate(0deg);
}*/
