body .btn,
body .button,
body button:not([type='button']),
body input[type="submit"],
body #calendar button,
body .navigation li a,
body .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern,
body .container-menu-filtre ul li a {
  font-size: 0.92em;
  background: #bf3b2b;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: bold;
  border: none;
  transition-property: background, filter, -webkit-filter, -moz-filter, -ms-filter, -o-filter, color;
  transition-duration: 0.2s;
  border-radius: 4px;
  letter-spacing: 1px;
  height: inherit;
  white-space: normal;
  line-height: normal;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
}
body .btn:hover,
body .button:hover,
body button:not([type='button']):hover,
body input[type="submit"]:hover,
body #calendar button:hover,
body .navigation li a:hover,
body .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover,
body .container-menu-filtre ul li a:hover {
  cursor: pointer;
  color: #fff;
  background: #bf3b2b;
}
@media (max-width: 768px) {
  body .btn,
  body .button,
  body button:not([type='button']),
  body input[type="submit"],
  body #calendar button,
  body .navigation li a,
  body .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern,
  body .container-menu-filtre ul li a {
    margin: 0.4em 0;
  }
}
body .btn-xs {
  padding: 0.7em;
  font-size: 0.8em;
}
body .btn-sm,
body form .gform_button {
  font-size: 0.85em;
}
body .btn-md {
  font-size: 0.92em;
}
body .btn-lg {
  font-size: 1.25em;
}
body .btn-red:after,
body .btn-red-alt:after,
body .btn-red-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-red:active:after,
body .btn-red-alt:active:after,
body .btn-red-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-red:hover,
body .btn-red-alt:hover,
body .btn-red-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-red {
  color: #fff;
  background: #bf3b2b;
}
body .btn-red:after {
  background: #df7d71;
}
body .btn-red:hover {
  background: #952e22;
  color: #fff;
}
body .btn-red a {
  background: #bf3b2b;
  color: #fff;
}
body .btn-red-alt {
  color: #bf3b2b;
  background: #fff;
  border: solid 1px #bf3b2b;
}
body .btn-red-alt:after {
  background: #df7d71;
}
body .btn-red-alt:hover {
  color: #bf3b2b;
  background: #fff;
}
body .btn-red-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-red-alt-neg:after {
  background: #df7d71;
}
body .btn-red-alt-neg:hover {
  color: #ff8475;
  background: rgba(191, 59, 43, 0.17);
  border: solid 1px #ff8475;
}
body .btn-red.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bf3b2b;
  transition: all 0.2s ease;
}
body .btn-red.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-blue:after,
body .btn-blue-alt:after,
body .btn-blue-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-blue:active:after,
body .btn-blue-alt:active:after,
body .btn-blue-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-blue:hover,
body .btn-blue-alt:hover,
body .btn-blue-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-blue {
  color: #fff;
  background: #505a9b;
}
body .btn-blue:after {
  background: #8d94c4;
}
body .btn-blue:hover {
  background: #3f4679;
  color: #fff;
}
body .btn-blue a {
  background: #505a9b;
  color: #fff;
}
body .btn-blue-alt {
  color: #505a9b;
  background: #fff;
  border: solid 1px #505a9b;
}
body .btn-blue-alt:after {
  background: #8d94c4;
}
body .btn-blue-alt:hover {
  color: #505a9b;
  background: #fff;
}
body .btn-blue-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-blue-alt-neg:after {
  background: #8d94c4;
}
body .btn-blue-alt-neg:hover {
  color: #7688ff;
  background: rgba(80, 90, 155, 0.17);
  border: solid 1px #7688ff;
}
body .btn-blue.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #505a9b;
  transition: all 0.2s ease;
}
body .btn-blue.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-aqua:after,
body .btn-aqua-alt:after,
body .btn-aqua-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-aqua:active:after,
body .btn-aqua-alt:active:after,
body .btn-aqua-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-aqua:hover,
body .btn-aqua-alt:hover,
body .btn-aqua-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-aqua {
  color: #fff;
  background: #4faeff;
}
body .btn-aqua:after {
  background: #b5ddff;
}
body .btn-aqua:hover {
  background: #1c97ff;
  color: #fff;
}
body .btn-aqua a {
  background: #4faeff;
  color: #fff;
}
body .btn-aqua-alt {
  color: #4faeff;
  background: #fff;
  border: solid 1px #4faeff;
}
body .btn-aqua-alt:after {
  background: #b5ddff;
}
body .btn-aqua-alt:hover {
  color: #4faeff;
  background: #fff;
}
body .btn-aqua-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-aqua-alt-neg:after {
  background: #b5ddff;
}
body .btn-aqua-alt-neg:hover {
  color: #a7d6ff;
  background: rgba(79, 174, 255, 0.17);
  border: solid 1px #a7d6ff;
}
body .btn-aqua.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #4faeff;
  transition: all 0.2s ease;
}
body .btn-aqua.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-salmon:after,
body .btn-salmon-alt:after,
body .btn-salmon-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-salmon:active:after,
body .btn-salmon-alt:active:after,
body .btn-salmon-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-salmon:hover,
body .btn-salmon-alt:hover,
body .btn-salmon-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-salmon {
  color: #fff;
  background: #E66343;
}
body .btn-salmon:after {
  background: #f2ae9d;
}
body .btn-salmon:hover {
  background: #d9421d;
  color: #fff;
}
body .btn-salmon a {
  background: #E66343;
  color: #fff;
}
body .btn-salmon-alt {
  color: #E66343;
  background: #fff;
  border: solid 1px #E66343;
}
body .btn-salmon-alt:after {
  background: #f2ae9d;
}
body .btn-salmon-alt:hover {
  color: #E66343;
  background: #fff;
}
body .btn-salmon-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-salmon-alt-neg:after {
  background: #f2ae9d;
}
body .btn-salmon-alt-neg:hover {
  color: #ffa995;
  background: rgba(230, 99, 67, 0.17);
  border: solid 1px #ffa995;
}
body .btn-salmon.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #E66343;
  transition: all 0.2s ease;
}
body .btn-salmon.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-green:after,
body .btn-green-alt:after,
body .btn-green-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-green:active:after,
body .btn-green-alt:active:after,
body .btn-green-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-green:hover,
body .btn-green-alt:hover,
body .btn-green-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-green {
  color: #fff;
  background: #3cb878;
}
body .btn-green:after {
  background: #83d7ac;
}
body .btn-green:hover {
  background: #2f925f;
  color: #fff;
}
body .btn-green a {
  background: #3cb878;
  color: #fff;
}
body .btn-green-alt {
  color: #3cb878;
  background: #fff;
  border: solid 1px #3cb878;
}
body .btn-green-alt:after {
  background: #83d7ac;
}
body .btn-green-alt:hover {
  color: #3cb878;
  background: #fff;
}
body .btn-green-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-green-alt-neg:after {
  background: #83d7ac;
}
body .btn-green-alt-neg:hover {
  color: #7affba;
  background: rgba(60, 184, 120, 0.17);
  border: solid 1px #7affba;
}
body .btn-green.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3cb878;
  transition: all 0.2s ease;
}
body .btn-green.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-orange:after,
body .btn-orange-alt:after,
body .btn-orange-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-orange:active:after,
body .btn-orange-alt:active:after,
body .btn-orange-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-orange:hover,
body .btn-orange-alt:hover,
body .btn-orange-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-orange {
  color: #fff;
  background: #e74c3c;
}
body .btn-orange:after {
  background: #f29f97;
}
body .btn-orange:hover {
  background: #d62c1a;
  color: #fff;
}
body .btn-orange a {
  background: #e74c3c;
  color: #fff;
}
body .btn-orange-alt {
  color: #e74c3c;
  background: #fff;
  border: solid 1px #e74c3c;
}
body .btn-orange-alt:after {
  background: #f29f97;
}
body .btn-orange-alt:hover {
  color: #e74c3c;
  background: #fff;
}
body .btn-orange-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-orange-alt-neg:after {
  background: #f29f97;
}
body .btn-orange-alt-neg:hover {
  color: #ff9c92;
  background: rgba(231, 76, 60, 0.17);
  border: solid 1px #ff9c92;
}
body .btn-orange.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e74c3c;
  transition: all 0.2s ease;
}
body .btn-orange.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-gray:after,
body .btn-gray-alt:after,
body .btn-gray-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-gray:active:after,
body .btn-gray-alt:active:after,
body .btn-gray-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-gray:hover,
body .btn-gray-alt:hover,
body .btn-gray-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-gray {
  color: #fff;
  background: #95a5a6;
}
body .btn-gray:after {
  background: #ccd4d5;
}
body .btn-gray:hover {
  background: #798d8f;
  color: #fff;
}
body .btn-gray a {
  background: #95a5a6;
  color: #fff;
}
body .btn-gray-alt {
  color: #95a5a6;
  background: #fff;
  border: solid 1px #95a5a6;
}
body .btn-gray-alt:after {
  background: #ccd4d5;
}
body .btn-gray-alt:hover {
  color: #95a5a6;
  background: #fff;
}
body .btn-gray-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-gray-alt-neg:after {
  background: #ccd4d5;
}
body .btn-gray-alt-neg:hover {
  color: #a3f4fa;
  background: rgba(149, 165, 166, 0.17);
  border: solid 1px #a3f4fa;
}
body .btn-gray.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #95a5a6;
  transition: all 0.2s ease;
}
body .btn-gray.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-yellow:after,
body .btn-yellow-alt:after,
body .btn-yellow-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-yellow:active:after,
body .btn-yellow-alt:active:after,
body .btn-yellow-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-yellow:hover,
body .btn-yellow-alt:hover,
body .btn-yellow-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-yellow {
  color: #fff;
  background: #f59d00;
}
body .btn-yellow:after {
  background: #ffc45c;
}
body .btn-yellow:hover {
  background: #c27c00;
  color: #fff;
}
body .btn-yellow a {
  background: #f59d00;
  color: #fff;
}
body .btn-yellow-alt {
  color: #f59d00;
  background: #fff;
  border: solid 1px #f59d00;
}
body .btn-yellow-alt:after {
  background: #ffc45c;
}
body .btn-yellow-alt:hover {
  color: #f59d00;
  background: #fff;
}
body .btn-yellow-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-yellow-alt-neg:after {
  background: #ffc45c;
}
body .btn-yellow-alt-neg:hover {
  color: #ffcf7b;
  background: rgba(245, 157, 0, 0.17);
  border: solid 1px #ffcf7b;
}
body .btn-yellow.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f59d00;
  transition: all 0.2s ease;
}
body .btn-yellow.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-blue-dark:after,
body .btn-blue-dark-alt:after,
body .btn-blue-dark-alt-neg:after {
  content: "";
  display: block;
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  margin-left: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  filter: blur(0.1em);
}
body .btn-blue-dark:active:after,
body .btn-blue-dark-alt:active:after,
body .btn-blue-dark-alt-neg:active:after {
  width: 0;
  margin-left: 50%;
  opacity: 0.3;
  transition: 0s;
}
body .btn-blue-dark:hover,
body .btn-blue-dark-alt:hover,
body .btn-blue-dark-alt-neg:hover {
  filter: brightness(109%);
}
body .btn-blue-dark {
  color: #fff;
  background: #34495e;
}
body .btn-blue-dark:after {
  background: #587ca0;
}
body .btn-blue-dark:hover {
  background: #222f3d;
  color: #fff;
}
body .btn-blue-dark a {
  background: #34495e;
  color: #fff;
}
body .btn-blue-dark-alt {
  color: #34495e;
  background: #fff;
  border: solid 1px #34495e;
}
body .btn-blue-dark-alt:after {
  background: #587ca0;
}
body .btn-blue-dark-alt:hover {
  color: #34495e;
  background: #fff;
}
body .btn-blue-dark-alt-neg {
  color: #fff;
  background: none;
  border: solid 1px #fff;
}
body .btn-blue-dark-alt-neg:after {
  background: #587ca0;
}
body .btn-blue-dark-alt-neg:hover {
  color: #51a4f7;
  background: rgba(52, 73, 94, 0.17);
  border: solid 1px #51a4f7;
}
body .btn-blue-dark.btn-arr-down:before {
  position: absolute;
  left: 50%;
  top: calc(100% + -5px);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #34495e;
  transition: all 0.2s ease;
}
body .btn-blue-dark.btn-arr-down:hover:before {
  top: calc(100% + 4px);
}
body .btn-gray,
body .container-menu-filtre ul li a.btn-gray {
  color: #6c6c6c;
  border: solid 1px #818181;
  background: #fcfcfc;
}
body .btn-gray:hover,
body .container-menu-filtre ul li a.btn-gray:hover {
  color: #3b3b3b;
  border: solid 1px #9d9d9d;
  filter: brightness(105%);
  background: #c3c3c3;
}
body .btn-gray:after,
body .container-menu-filtre ul li a.btn-gray:after {
  background: #999999;
}
body .btn-gray a,
body .container-menu-filtre ul li a.btn-gray a {
  color: #6c6c6c;
}
body .btn-gray-alt {
  color: #4a4a4a;
  background: #fff;
  border: solid 1px #7d7d7d;
}
body .btn-gray-alt:after {
  background: #b0b0b0;
}
body .btn-gray-alt:hover {
  background: #e8e8e8;
}
body button:hover:not([type='button']),
body .button:hover:not([type='button']),
body button:hover:not([type='button']),
body input[type="submit"]:hover:not([type='button']),
body .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover:not([type='button']) {
  filter: brightness(115%);
}
body input[type="submit"] {
  background: #bf3b2b;
}
body .bg-orange .btn-white {
  font-size: 0.92em;
  background: #bf3b2b;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: bold;
  border: none;
  transition-property: background, filter, -webkit-filter, -moz-filter, -ms-filter, -o-filter, color;
  transition-duration: 0.2s;
  border-radius: 4px;
  letter-spacing: 1px;
  height: inherit;
  white-space: normal;
  line-height: normal;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
  border: solid 1px #fff;
  margin-left: 1em;
}
body .bg-orange .btn-white:hover {
  cursor: pointer;
  color: #fff;
  background: #bf3b2b;
}
@media (max-width: 768px) {
  body .bg-orange .btn-white {
    margin: 0.4em 0;
  }
}
body .bg-orange .btn-white:hover {
  background: rgba(255, 255, 255, 0.1);
}
body .btn-white.active {
  background: #fff;
  color: #bf3b2b;
}
body .btn-white.active:hover {
  background: #fff;
  color: #bf3b2b;
  opacity: 0.8;
}
body .marginR {
  margin-right: 0.9em;
}
body .absolute100 {
  margin: 1em;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 2em);
}
body .navigation li a body:hover {
  filter: brightness(109%);
}
#kz_header .btn {
  margin: 0.8em 0 !important;
  padding: 1em;
}
#kz_header #dl-catalogue-btn {
  margin-right: 0.5em !important;
}
.page-template-tpl-nos-formateurs .thewrapper .btn {
  position: absolute !important;
  bottom: 0;
  width: calc(100% - 4.5em);
  margin: 0 1em 2.5em 1em !important;
  height: 2.5em;
}
@media (max-width: 576px) {
  .marginR {
    margin-right: 0 !important;
  }
  #thematiques-input label {
    width: 100%;
  }
}
.tab-pane:not(.active) {
  display: none;
}
.nav-tabs {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin: auto;
  display: flex;
}
.nav-tabs li {
  flex: 1;
  list-style: none;
  display: inline-block;
  float: left;
}
.nav-tabs li:last-child {
  float: none;
}
.nav-tabs li .btn-tabs {
  width: 100%;
  margin: 0;
  border-radius: 0 !important;
  background: #fff !important;
  border: solid 1px #c3c3c3;
  border-right: none;
}
.nav-tabs li:last-child .btn-tabs {
  border-right: solid 1px #c3c3c3;
}
.nav-tabs li.active .btn-tabs {
  background: #bf3b2b !important;
  color: #fff;
  border: solid 1px #bf3b2b;
}
.tab-content {
  background: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  max-width: 500px;
  margin: auto;
}
.tab-content .form-heading {
  margin-top: 0;
  padding: 1em;
}
.tab-content .btn {
  zoom: 85%;
}
.slick-arrow:hover {
  background-color: #952e22;
}
