#glossary{
    display: block;
    width: 100%;
    min-height: 1em;
    background: #e2e2e2;
    text-align: center;
    padding: 2em 1em;
    margin-top: 5em;
    a{
        height: 1em;
        color: #000;
        text-transform: capitalize;
        &:hover{
            text-decoration: underline;
        }
    }
}
.header{
    display: block;
    .btn{
        margin: .5em;
        margin-top: 1.5em;
    }
    &:after{
        content: none;
    }
    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.65;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

main{
    h1{
        color: #bf3b2b;
    }
    h2{
        margin: 2em 0 1em 0;
    }
    hr{
        margin: 2em 0;
    }
    p{
        font-size: 1.2em;
        line-height: 1.3em;
    }
}

[id^='pitch-elevator-']{
    color: #fff;
    font-size: 1.1em;
    line-height: 1.4em;
    padding-right: 1em;
}

#pitch-elevator-title{
    font-size: 2em;
    margin-bottom: .4em;
    font-weight: bold;
}








