body {
  padding-bottom: 50vh;
}
.c-color-dac {
  color: #bf3b2b !important;
}
.bg-color-dac {
  background-color: #bf3b2b !important;
}
.c-orange {
  color: #e74c3c !important;
}
.bg-orange {
  background-color: #e74c3c !important;
}
.c-gray {
  color: #95a5a6 !important;
}
.bg-gray {
  background-color: #95a5a6 !important;
}
.c-blue {
  color: #3498db !important;
}
.bg-blue {
  background-color: #3498db !important;
}
.c-yellow {
  color: #f59d00 !important;
}
.bg-yellow {
  background-color: #f59d00 !important;
}
.c-green {
  color: #2ecc71 !important;
}
.bg-green {
  background-color: #2ecc71 !important;
}
.c-blue-dark {
  color: #34495e !important;
}
.bg-blue-dark {
  background-color: #34495e !important;
}
.alignRight {
  text-align: right;
}
@media screen and (max-width: 1200px) {
  .alignRight {
    text-align: center;
  }
}
.alignLeft {
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .alignLeft {
    text-align: center;
  }
}
.row-same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-same-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.insert {
  border-radius: 5px;
  margin: 0.5em 0;
  border: solid 1px #d6d6d6;
  background: #f7f7f7;
  display: flex;
}
.insert img {
  width: 55px;
  padding: 0.1em;
  border-radius: 5px;
  background: #fff;
  border-right: solid 1px #d6d6d6;
}
.insert .wrapper {
  padding: 1em;
  background: #f7f7f7;
  position: relative;
  width: 100%;
}
.insert .wrapper .btn {
  position: absolute;
  right: 0.5em;
  top: 0;
  right: 1em;
  top: 0.4em;
}
.insert-alt {
  border-radius: 5px;
  margin: 0.5em 0;
  border: solid 1px #d6d6d6;
  background: #f7f7f7;
  display: flex;
  display: block;
  text-align: center;
  margin-top: 3em;
}
.insert-alt img {
  width: 55px;
  padding: 0.1em;
  border-radius: 5px;
  background: #fff;
  border-right: solid 1px #d6d6d6;
}
.insert-alt .wrapper {
  padding: 1em;
  background: #f7f7f7;
  position: relative;
  width: 100%;
}
.insert-alt .wrapper .btn {
  position: absolute;
  right: 0.5em;
  top: 0;
  right: 1em;
  top: 0.4em;
}
.insert-alt img {
  width: 70px;
  border: solid 1px #d6d6d6;
  border-radius: 5px;
  margin: auto;
  margin-top: -1em;
}
.insert-alt .wrapper,
.insert-alt img {
  display: block;
  text-align: center;
}
.insert-alt:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #e8e8e8;
  position: absolute;
  right: 0px;
  top: 50px;
}
.insert-alt a {
  display: block;
  float: none;
  position: relative;
}
#heading {
  z-index: 1;
  position: relative;
  height: auto;
  background-size: cover;
  padding: 3em 0;
  padding-bottom: calc(3em + 7vw);
}
#heading svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}
#heading .svg-top,
#heading .svg-bottom {
  position: absolute;
  width: 100%;
  z-index: 5;
}
#heading .svg-top {
  top: -4vh;
  left: 0;
  height: 4vh;
}
#heading .svg-bottom {
  bottom: 0;
  left: 0;
  height: 4vh;
}
#heading .svg-1,
#heading .svg-1-md {
  top: 0;
  height: 100%;
}
#heading .svg-1-md {
  display: none;
}
#heading .svg-2 {
  height: 10vw;
}
#heading hr {
  max-width: 20%;
}
#heading #thematic-info {
  margin-left: -10px;
  font-size: 1.6rem;
  font-weight: bolder;
}
#heading #thematic-info:hover {
  text-decoration: none;
}
#heading #course-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 1em 0;
  margin-top: 0.5em;
}
#heading #course-imgs {
  text-align: center;
  padding-right: 3em;
}
#heading #course-imgs #course-img {
  box-shadow: 0 15px 30px #9a9a9a;
  margin-bottom: 2em;
  border-radius: 5px;
}
#heading #course-imgs img {
  display: inline-block;
}
#heading #course-imgs h3 {
  text-align: center;
}
#heading #course-imgs hr {
  display: inline-block;
  min-width: 90%;
  margin: 1em 0 !important;
  opacity: 0.3;
}
#heading #course-imgs #rating {
  margin-top: 2em;
}
#heading #course-imgs #rating span {
  font-weight: bolder;
  font-size: 1.1em;
}
#heading #course-imgs #rating i {
  display: block;
  margin-top: 0.5em;
}
#heading #course-info {
  color: #656565;
  font-style: italic;
}
#heading #course-info img {
  max-width: 30px;
  margin-right: 0.8em;
}
#heading #course-info span {
  padding-top: 0.3em;
  padding-right: 0.5em;
  position: absolute;
}
#heading #course-info [class^='col-'] {
  margin-top: 1em;
}
#heading hr {
  margin: 0 !important;
  display: block;
  border-top: solid 1px #000;
}
#heading #btn-wrapper {
  margin-top: 1em;
}
#heading #course-title + hr {
  min-width: 70%;
  opacity: 0.4;
}
@media (max-width: 1200px) {
  #heading .svg-1 {
    display: none !important;
  }
  #heading .svg-1-md {
    display: inherit !important;
  }
  #heading [class^='col-']:first-child {
    display: none;
  }
  #heading [class^='col-']:last-child {
    text-align: center;
  }
  #heading [class^='col-']:last-child hr {
    margin: auto!important;
  }
}
#content {
  padding-right: 2.5em;
}
#content > div {
  margin: 0.8em 0;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 100%;
}
#content h2 {
  font-weight: bolder;
  margin: 1em 0 0.2em 0;
}
#content hr {
  min-width: 100%;
  margin: 1em 0!important;
  border-top: 1px solid #bababa;
}
#goals,
.accordeon-item-content {
  padding: 0;
}
#goals ul,
.accordeon-item-content ul {
  padding: 0;
}
#goals p:last-child,
.accordeon-item-content p:last-child {
  margin-bottom: 0.2em;
}
#goals li,
.accordeon-item-content li {
  list-style: none;
  font-weight: 400;
  margin-bottom: 0.4em;
  margin: 0 0 4px 9px;
  text-indent: -24px;
}
#goals li:after,
.accordeon-item-content li:after {
  content: none;
}
#goals li:before,
.accordeon-item-content li:before {
  content: '';
  background-image: url(../images/ok-icon-02.svg);
  height: 16px;
  width: 16px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 0.5em;
}
.accordeon-wrapper .accordeon-item {
  border-radius: 5px;
  border: solid 1px #d2d2d2;
  margin-bottom: 1.5em;
}
.accordeon-wrapper .accordeon-item .accordeon-item-title {
  user-select: none;
  transition: background 0.15s ease;
  position: relative;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
  border-radius: 5px;
}
.accordeon-wrapper .accordeon-item .accordeon-item-title:after {
  content: "+";
  position: absolute;
  font-weight: bolder;
  right: 0;
  height: 3em;
  zoom: 150%;
  width: 2em;
  color: #4b4b4b;
  text-align: center;
}
.accordeon-wrapper .accordeon-item .accordeon-item-title:hover {
  cursor: pointer;
}
.accordeon-wrapper .accordeon-item .accordeon-item-content {
  padding: 0.2em 2em 1.2em 2em;
}
.accordeon-wrapper .accordeon-item.active .accordeon-item-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  font-weight: bolder;
}
.accordeon-wrapper .accordeon-item.active .accordeon-item-title:after {
  color: #fff;
  content: "-";
}
.accordeon-wrapper .accordeon-item.active .accordeon-item-content {
  display: block;
}
.accordeon-wrapper .accordeon-item:not(.active) .accordeon-item-title {
  transition: all 0.2s ease;
  background-color: #fff !important;
}
.accordeon-wrapper .accordeon-item:not(.active) .accordeon-item-title:hover {
  box-shadow: 0 5px 5px #d4d4d4;
}
.accordeon-has-path {
  display: inline-block;
  float: right;
  width: calc(100% - 3em);
}
.accordeon-has-path .accordeon-item {
  position: relative;
}
.accordeon-has-path .accordeon-item:before,
.accordeon-has-path .accordeon-item:after {
  margin-left: -3em;
  display: inline-block;
  float: left;
  content: "";
  position: absolute;
  top: 1em;
}
.accordeon-has-path .accordeon-item:before {
  left: 0.5em;
  bottom: -3em;
  background: #dedede;
  width: 1px;
}
.accordeon-has-path .accordeon-item:after {
  height: 1em;
  width: 1em;
  border-radius: 3em;
  background: gray;
}
.accordeon-has-path .accordeon-item:last-child:before {
  content: none;
}
#cta-col {
  padding-top: 6.78em;
  padding-left: 2.5em;
  margin-top: -2em;
  z-index: 0;
  background: #eeeeee;
  border-left: solid 1px #a1a1a1;
  border-bottom: solid 1px #a1a1a1;
}
#cta-col hr {
  min-width: 100%;
  border-top: solid 1px #a0a0a0;
}
#cta-col h3 {
  margin: 0 0 0.5em 0;
}
#cta-col:after {
  border-bottom: solid 1px #a1a1a1;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 100%;
  right: 100%;
  background: #eeeeee;
  width: 100vw;
}
#cta-col i {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
