/* Template une formation
--------------------------------------------- */
.container-wp:nth-child(even) {
  background: #f9f9f9;
}
.container-wp:nth-child(odd) {
  background: #fff;
}
#presentation {
  background: #fff;
}
.container-wp {
  padding: 4em 0;
  border-bottom: solid 1px #e2e2e2;
}
#slider-formations,
#references {
  padding: 0;
}
#sub-nav {
  width: 100%;
  z-index: 12;
}
#references a img {
  border-radius: 20px;
}
.wrapper {
  background: none!important;
  display: inline-block;
}
.formation-template-default #slider-formations {
  display: inherit!important;
}
.alignCenter {
  text-align: center;
}
.alignLeft {
  text-align: left;
}
h2 {
  color: #bf3b2b;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5em 0 !important;
  font-weight: 900;
  font-size: 1.7em;
}
html hr {
  margin-bottom: 1em !important;
}
html .container-slider {
  height: inherit!important;
}
p {
  font-size: 1.15em;
}
.border0 {
  border: none!important;
}
.w100 {
  width: 100%;
}
.margin0 {
  margin: 0!important;
}
.toggable {
  border-radius: 5px;
  position: relative;
}
.toggable p {
  margin: 0;
  margin-bottom: 1em;
}
.toggable .toggable-title {
  margin: 1em 0;
  padding-right: 4em;
}
.toggable:after {
  transition: all 0.2s ease;
  content: "^";
  position: absolute;
  right: 0.5em;
  font-size: 3em;
  top: 0.45em;
  color: #9e9e9e;
  border: solid 1px #9e9e9e;
  border-radius: 100%;
  font-weight: 100;
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(180deg);
}
.toggable:hover {
  background: #eee;
  cursor: pointer;
}
.toggable:hover:after {
  background: #fff;
  color: #535353;
  border-color: #535353;
}
.toggaled:after {
  transform: rotate(0deg);
}
.container-menu-filtre {
  background: #f3f3f5;
  border-bottom: solid 1px #d2d2d2;
}
.big-title,
.big-title {
  font-size: 1.625em;
  border-radius: 5px;
  font-weight: bold;
}
ul.list,
.container__orange ul {
  background: #BE3B2B;
  color: #FFF;
  padding: 15px 15px 20px 40px;
  line-height: 26px;
  font-size: 1.25em;
  border-radius: 5px;
}
.table-inscription .btn-orange:hover,
.table-inscription .btn-orange:focus,
.table-inscription .btn-orange:active {
  color: #fff;
  text-decoration: none;
}
.table-inscription th {
  text-transform: uppercase;
}
.table-inscription td,
.table-inscription th {
  border: 1px solid #373636;
  text-align: center;
}
.table-inscription th {
  padding: 20px;
}
.table-inscription .btn-orange {
  display: block;
  margin: 0;
  top: 0;
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px;
}
.table-inscription .indisponible .btn-orange {
  background: #fff;
  border: 1px solid #95a5a6;
  color: #95a5a6;
}
.formation-template-default .container-slider .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3em;
}
.slick-track {
  margin: auto;
}
.single-formation .col-sm-3 {
  border-color: #b3b3b3;
}
#form-heading {
  padding-top: 0 !important;
}
.form-heading {
  padding-bottom: 0!important;
}
.content-wp {
  text-align: center;
  padding: 0 1em;
  padding-bottom: 1.5em;
  font-size: 0.8em;
}
#version {
  background: #fff;
  margin-top: 1em;
  font-style: italic;
  font-size: 0.9em;
  color: #484848;
  text-align: center;
  width: auto;
  display: inline-block;
  padding: 1em;
  margin: auto;
  margin-top: 2em;
  border-radius: 5px;
  opacity: 0.6;
}
.insert {
  border-radius: 5px;
  margin: 1em 0;
  border: solid 1px #d6d6d6;
  background: #f7f7f7;
  display: flex;
}
.insert img {
  border-radius: 5px;
  background: #fff;
  border-right: solid 1px #d6d6d6;
}
.insert .wrapper {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f7f7f7;
}
.insert .wrapper .btn {
  margin: 0;
}
.insert-alt {
  border-radius: 5px;
  margin: 1em 0;
  border: solid 1px #d6d6d6;
  background: #f7f7f7;
  display: flex;
  display: block;
  text-align: center;
  margin-top: 0;
}
.insert-alt img {
  border-radius: 5px;
  background: #fff;
  border-right: solid 1px #d6d6d6;
}
.insert-alt .wrapper {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f7f7f7;
}
.insert-alt .wrapper .btn {
  margin: 0;
}
.insert-alt img {
  border: solid 1px #d6d6d6;
  border-radius: 200px;
  margin: auto;
  margin-top: -50px;
}
.insert-alt .wrapper,
.insert-alt img {
  display: block;
  text-align: center;
}
.insert-alt:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #e8e8e8;
  position: absolute;
  right: 0px;
  top: 50px;
}
strong {
  font-size: 1.1em !important;
}
strong:after {
  line-height: 0.3em;
  color: #a9a9a9;
  font-weight: 100;
}
.info-item {
  border-bottom: solid 1px #e0e0e0;
  padding: 1em;
}
.info-item:last-child {
  border: none;
}
.col-r {
  border: solid 1px #eee;
  border-radius: 4px;
}
#obsolete {
  background: #561010;
  color: #ff6464;
  padding: 4em 1em;
}
#obsolete .alert-ico {
  font-size: 1.5em;
  margin-right: 0.5em;
}
#obsolete .btn {
  color: #ff6464 !important;
  border-color: #ff6464 !important;
}
#presentation-thema p span {
  color: #000;
}
#toggle-txt {
  cursor: pointer;
  text-decoration: underline;
  text-align: right;
}
#objectifs ul {
  padding: 0;
}
#objectifs li {
  list-style: none;
  font-size: 1.1em !important;
  font-weight: 400;
  margin-bottom: 0.4em;
}
#objectifs li:after {
  content: none;
}
#objectifs li:before {
  content: '';
  background-image: url(../images/ok-icon-02.svg);
  height: 1em;
  width: 1em;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 0.5em;
}
html .container-menu-filtre a {
  margin-left: 0 !important;
}
.container-menu-filtre ul li {
  margin-top: 0;
}
.testimonial-wrapper .row-same-height > [class^='col-'] {
  margin-bottom: 5em !important;
}
#programme h2 {
  color: #fff;
}
#programme hr {
  border-color: #fff;
}
#programme #programme-flex-wrap {
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  counter-reset: section;
}
#programme #programme-flex-wrap h4 {
  font-size: 1.1em;
  margin-top: 0.5em;
  padding-left: 2em;
}
#programme #programme-flex-wrap h4:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: solid 1px #c9c9c9;
  padding-top: 0.5em;
}
#programme #programme-flex-wrap h4:before {
  font-weight: bolder;
  counter-increment: section;
  content: counter(section);
  border: solid 2px #4c4c52;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  font-size: 0.8em;
  box-sizing: content-box;
  color: #fff;
  zoom: 90%;
  position: absolute;
  transform: translateX(-2.9em);
}
#programme #programme-flex-wrap ul {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  padding-left: 1.5em;
}
#programme #programme-flex-wrap li {
  margin-top: 0.5em;
  list-style-type: square;
}
#programme #programme-flex-wrap i {
  margin-top: 0.7em;
  display: block;
  padding: 0.5em 0.8em;
  background: #f9f9f9;
  margin-left: -1.5em;
}
#programme #programme-flex-wrap .card {
  height: calc(100% - 30px);
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  /* Firefox */
  break-inside: avoid;
  /* IE 10+ */
  break-inside: avoid-column;
  /* W3C */
  margin-bottom: 1em;
  padding: 1em;
  background: #fff;
  border: solid 1px #eee;
  border-radius: 4px;
  padding-bottom: 30px;
}
/* ---------------- */
/* Html anchor offset 
--- (fixed nav fix) */
/* ---------------- */
#presentation::before,
#informations::before,
#programme::before,
#Inscription::before,
#temoignages::before {
  content: '';
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}
/* ---------------- */
/* Set thema colors */
/* ---------------- */
.single-formation .container-slider.main-slider.theme-orange {
  background-color: #e74c3c !important;
}
#programme-wrapper-orange {
  background: #e74c3c;
}
#programme #programme-flex-wrap h4.orange {
  color: #e74c3c;
}
#programme #programme-flex-wrap h4.orange:before {
  background: #e74c3c;
  border-color: #e74c3c;
}
#programme #programme-flex-wrap h4.orange:after {
  border-color: #e74c3c;
}
.single-formation .container-slider.main-slider.theme-gray {
  background-color: #95a5a6 !important;
}
#programme-wrapper-gray {
  background: #95a5a6;
}
#programme #programme-flex-wrap h4.gray {
  color: #95a5a6;
}
#programme #programme-flex-wrap h4.gray:before {
  background: #95a5a6;
  border-color: #95a5a6;
}
#programme #programme-flex-wrap h4.gray:after {
  border-color: #95a5a6;
}
.single-formation .container-slider.main-slider.theme-blue {
  background-color: #3498db !important;
}
#programme-wrapper-blue {
  background: #3498db;
}
#programme #programme-flex-wrap h4.blue {
  color: #3498db;
}
#programme #programme-flex-wrap h4.blue:before {
  background: #3498db;
  border-color: #3498db;
}
#programme #programme-flex-wrap h4.blue:after {
  border-color: #3498db;
}
.single-formation .container-slider.main-slider.theme-yellow {
  background-color: #f59d00 !important;
}
#programme-wrapper-yellow {
  background: #f59d00;
}
#programme #programme-flex-wrap h4.yellow {
  color: #f59d00;
}
#programme #programme-flex-wrap h4.yellow:before {
  background: #f59d00;
  border-color: #f59d00;
}
#programme #programme-flex-wrap h4.yellow:after {
  border-color: #f59d00;
}
.single-formation .container-slider.main-slider.theme-green {
  background-color: #2ecc71 !important;
}
#programme-wrapper-green {
  background: #2ecc71;
}
#programme #programme-flex-wrap h4.green {
  color: #2ecc71;
}
#programme #programme-flex-wrap h4.green:before {
  background: #2ecc71;
  border-color: #2ecc71;
}
#programme #programme-flex-wrap h4.green:after {
  border-color: #2ecc71;
}
.single-formation .container-slider.main-slider.theme-blue-dark {
  background-color: #34495e !important;
}
#programme-wrapper-blue-dark {
  background: #34495e;
}
#programme #programme-flex-wrap h4.blue-dark {
  color: #34495e;
}
#programme #programme-flex-wrap h4.blue-dark:before {
  background: #34495e;
  border-color: #34495e;
}
#programme #programme-flex-wrap h4.blue-dark:after {
  border-color: #34495e;
}
/* --------------- */
/* Datadock Banner */
/* --------------- */
#datadock {
  text-align: center;
  padding: 1em 0;
}
#datadock img,
#datadock h4 {
  display: inline-block;
}
#datadock h4 {
  color: #fff;
  font-size: 1.3em !important;
}
#datadock {
  position: relative;
  z-index: 1;
  background-color: #2a89d2;
}
#datadock img {
  width: 170px;
  position: relative;
  top: -0.3em;
  left: 1em;
}
svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}
.svg-top,
.svg-bottom {
  position: absolute;
  width: 100%;
  z-index: 5;
}
.svg-top {
  top: -4vh;
  left: 0;
  height: 4vh;
}
.svg-bottom {
  bottom: -3.9vh;
  left: 0;
  height: 4vh;
}
@media (max-width: 768px) {
  #datadock {
    display: none;
  }
}
/* /end - Datadock Banner */
/* ---------------- */
/* Responsive stuff */
/* ---------------- */
@media (max-width: 768px) {
  .container-wp {
    padding: 1em;
  }
  html .container-slider {
    height: inherit!important;
    display: inline-block;
    max-width: 100%;
  }
  html .slick-slide {
    height: auto!important;
    width: 100%;
    margin: 0;
    padding: 3em 0 !important;
  }
  #presentation::before,
  #informations::before,
  #programme::before,
  #Inscription::before,
  #temoignages::before {
    content: none;
  }
  html body .container-wp {
    background: #f9f9f9 !important;
  }
  [id^="programme-wrapper-"] {
    background: #f9f9f9 !important;
  }
  [id^="programme-wrapper-"] h2 {
    color: #be3b2b !important;
  }
  [id^="programme-wrapper-"] hr {
    border-color: #000000 !important;
  }
  .toggleplus {
    width: 1em;
    height: 1em;
    line-height: 1em;
    background: #be3b2b;
    border-radius: 2em;
    margin: auto;
    color: #fff;
    cursor: pointer;
    padding: 0!important;
    zoom: 300%;
    text-align: center;
    transition: all 0.2s ease;
  }
  .insert-alt:after {
    content: none;
  }
  .insert-alt {
    margin-top: 6em;
  }
  .p-wp {
    width: 100%;
  }
  .testimonial-wrapper .row-same-height {
    display: block !important;
  }
}
