.c-color-dac {
  color: #bf3b2b !important;
}
.bg-color-dac {
  background-color: #bf3b2b !important;
}
.c-orange {
  color: #e74c3c !important;
}
.bg-orange {
  background-color: #e74c3c !important;
}
.c-gray {
  color: #95a5a6 !important;
}
.bg-gray {
  background-color: #95a5a6 !important;
}
.c-blue {
  color: #3498db !important;
}
.bg-blue {
  background-color: #3498db !important;
}
.c-yellow {
  color: #f59d00 !important;
}
.bg-yellow {
  background-color: #f59d00 !important;
}
.c-green {
  color: #2ecc71 !important;
}
.bg-green {
  background-color: #2ecc71 !important;
}
.c-blue-dark {
  color: #34495e !important;
}
.bg-blue-dark {
  background-color: #34495e !important;
}
.alignRight {
  text-align: right;
}
.alignLeft {
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .alignCenterLg {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .alignLeftSm {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .alignLeftXs {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .alignRightXs {
    text-align: right;
  }
}
@media screen and (max-width: 1200px) {
  .visibleLg {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .hiddenLg {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .reverseLg {
    flex-direction: column-reverse;
  }
}
.row-same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-same-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .reverseLg {
    flex-direction: column-reverse;
  }
}
.insert {
  border-radius: 5px;
  margin: 0.5em 0;
  border: solid 1px #d6d6d6;
  background: #f7f7f7;
  display: flex;
}
.insert img {
  width: 45px;
  padding: 0.1em;
  border-radius: 5px;
  background: #fff;
  border-right: solid 1px #d6d6d6;
}
.insert .wrapper {
  padding: 1em;
  background: #f7f7f7;
  position: relative;
  width: 100%;
}
.insert .wrapper .btn,
.insert .wrapper .closed {
  position: absolute;
  right: 0.5em;
  top: 0;
  right: 1em;
  top: 0.4em;
}
.insert .wrapper .closed {
  font-style: italic;
  color: #a0a0a0;
  height: 3.5em;
  right: 1.3em;
  line-height: 3.5em;
  vertical-align: middle;
}
.session-closed {
  opacity: 0.55;
}
.insert-alt {
  border-radius: 5px;
  margin: 0.5em 0;
  border: solid 1px #d6d6d6;
  background: #f7f7f7;
  display: flex;
  display: block;
  text-align: center;
  margin-top: 3em;
}
.insert-alt img {
  width: 45px;
  padding: 0.1em;
  border-radius: 5px;
  background: #fff;
  border-right: solid 1px #d6d6d6;
}
.insert-alt .wrapper {
  padding: 1em;
  background: #f7f7f7;
  position: relative;
  width: 100%;
}
.insert-alt .wrapper .btn,
.insert-alt .wrapper .closed {
  position: absolute;
  right: 0.5em;
  top: 0;
  right: 1em;
  top: 0.4em;
}
.insert-alt .wrapper .closed {
  font-style: italic;
  color: #a0a0a0;
  height: 3.5em;
  right: 1.3em;
  line-height: 3.5em;
  vertical-align: middle;
}
.insert-alt img {
  width: 70px;
  border: solid 1px #d6d6d6;
  border-radius: 5px;
  margin: auto;
  margin-top: -1em;
}
.insert-alt .wrapper,
.insert-alt img {
  display: block;
  text-align: center;
}
.insert-alt .wrapper a {
  display: block;
  position: relative;
}
.insert-alt .wrapper a .btn {
  position: relative;
  margin: 0;
  margin-bottom: 0.5em;
  top: inherit;
  right: inherit;
}
@media screen and (max-width: 1200px) {
  .sameHeight {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 2em;
  }
  .sameHeight div {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 2em);
  }
}
.lightItalic {
  font-weight: lighter;
  color: #9f9f9f;
  margin: 0.5em 0;
  position: relative;
  display: block;
  font-size: 0.95em;
}
#obsolete {
  background: #BF3B2B;
  border-bottom: solid 1px #D0D0D0;
  color: #FFFFFF;
  padding: 0em 1em;
}
#obsolete .alert-ico {
  font-size: 1.5em;
  margin-right: 0.5em;
}
@media only screen and (max-width: 1200px) {
  #obsolete .alert-ico {
    display: block;
    margin-bottom: 0.5em;
  }
}
#obsolete .btn {
  margin-left: 0.5em;
}
@media only screen and (max-width: 1200px) {
  #obsolete .btn {
    display: block;
    max-width: 10em;
    margin: auto;
    margin-top: 1em;
  }
}
#heading {
  z-index: 1;
  position: relative;
  height: auto;
  background-size: cover;
  padding: 3em 0;
  padding-bottom: calc(3em + 7vw);
}
#heading svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}
#heading .svg-top,
#heading .svg-bottom {
  position: absolute;
  width: 100%;
  z-index: 5;
}
#heading .svg-top {
  top: -4vh;
  left: 0;
  height: 4vh;
}
#heading .svg-bottom {
  bottom: 0;
  left: 0;
  height: 4vh;
}
#heading .svg-1,
#heading .svg-1-md {
  top: 0;
  height: 100%;
}
#heading .svg-1-md {
  display: none;
}
#heading .svg-2 {
  height: 10vw;
}
#heading hr {
  max-width: 20%;
}
#heading #thematic-info {
  margin-left: -10px;
  font-size: 1.6rem;
  font-weight: bolder;
}
#heading #thematic-info:hover {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #heading #thematic-info {
    max-width: 622px;
    margin: auto;
    margin-bottom: 1em;
    width: 100%;
    display: block;
  }
  #heading #thematic-info img {
    margin-left: -10px;
  }
}
#heading #course-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 1em 0;
  margin-top: 0.5em;
}
@media screen and (max-width: 768px) {
  #heading #course-title {
    max-width: 622px;
    margin: auto;
    margin-bottom: 1em;
  }
}
#heading #course-imgs {
  text-align: center;
  padding-right: 3em;
}
#heading #course-imgs #course-img {
  margin-bottom: 2em;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  #heading #course-imgs #course-img {
    width: 100%!important;
  }
}
#heading #course-imgs img {
  display: inline-block;
}
#heading #course-imgs h3 {
  text-align: center;
}
#heading #course-imgs hr {
  display: inline-block;
  min-width: 90%;
  margin: 1em 0 !important;
  opacity: 0.3;
}
#heading #course-imgs .rating {
  margin-top: 2em;
}
#heading #course-imgs .rating span {
  font-weight: bolder;
  font-size: 1.1em;
  margin-left: 0.5em;
}
#heading #course-imgs .rating i {
  display: block;
  margin-top: 0.5em;
}
#heading #course-imgs .rating img {
  padding-bottom: 0.5em;
}
@media screen and (max-width: 1200px) {
  #heading #course-imgs {
    padding: 0;
  }
}
#heading #course-info {
  color: #656565;
  font-style: italic;
}
#heading #course-info img {
  max-width: 30px;
  margin-right: 0.8em;
}
#heading #course-info span {
  padding-top: 0.3em;
  padding-right: 0.5em;
  position: absolute;
}
#heading #course-info [class^='col-'] {
  margin-top: 1em;
}
@media screen and (max-width: 1200px) {
  #heading #course-info {
    max-width: 622px;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 768px) {
  #heading #course-info [class^='col-'] {
    padding-left: 0;
  }
}
#heading hr {
  margin: 0 !important;
  display: block;
  border-top: solid 1px #000;
}
#heading #btn-wrapper {
  margin-top: 1em;
}
#heading #course-title + hr,
#heading #course-info + hr {
  min-width: 70%;
  opacity: 0.4;
}
@media screen and (max-width: 1200px) {
  #heading #course-title + hr,
  #heading #course-info + hr {
    min-width: 100%!important;
  }
}
#heading .certification {
  mix-blend-mode: multiply;
}
@media (max-width: 1200px) {
  #heading .svg-1 {
    display: none !important;
  }
  #heading .svg-1-md {
    display: inherit !important;
  }
}
@media (max-width: 768px) {
  #heading {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .rating {
    padding-top: 5em;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 570px) {
  .btn {
    display: block;
  }
}
#content {
  padding-right: 2.5em;
}
#content > div {
  margin: 0.8em 0;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 100%;
}
#content h2 {
  font-weight: bolder;
  margin: 1em 0 0.2em 0;
}
#content hr {
  min-width: 100%;
  margin: 1em 0!important;
  border-top: 1px solid #bababa;
}
@media only screen and (max-width: 1200px) {
  #content {
    padding-right: 15px;
  }
}
#goals,
.accordeon-item-content {
  padding: 0;
}
#goals ul,
.accordeon-item-content ul {
  padding: 0;
}
#goals p:last-child,
.accordeon-item-content p:last-child {
  margin-bottom: 0.2em;
}
#goals li,
.accordeon-item-content li {
  list-style: none;
  font-weight: 400;
  margin-bottom: 0.4em;
  margin: 0 0 4px 9px;
  text-indent: -24px;
}
#goals li:after,
.accordeon-item-content li:after {
  content: none;
}
#goals li:before,
.accordeon-item-content li:before {
  content: '';
  background-image: url(../images/ok-icon-02.svg);
  height: 16px;
  width: 16px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 0.5em;
}
#goals > ul {
  padding-left: 15px;
}
.accordeon-wrapper ul {
  margin: 0;
}
.accordeon-wrapper p {
  margin-top: 0!important;
  margin-bottom: 1em;
}
.accordeon-wrapper .accordeon-item {
  border-radius: 5px;
  border: solid 1px #d2d2d2;
  margin-bottom: 1.5em;
}
.accordeon-wrapper .accordeon-item .accordeon-item-title {
  user-select: none;
  transition: background 0.15s ease;
  position: relative;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
  border-radius: 5px;
}
.accordeon-wrapper .accordeon-item .accordeon-item-title:after {
  content: "+";
  position: absolute;
  font-weight: bolder;
  right: 0;
  height: 3em;
  zoom: 150%;
  width: 2em;
  color: #4b4b4b;
  text-align: center;
}
.accordeon-wrapper .accordeon-item .accordeon-item-title:hover {
  cursor: pointer;
}
.accordeon-wrapper .accordeon-item .accordeon-item-content {
  padding: 0.2em 2em 0.2em 2em;
  padding-top: 1.5em;
}
.accordeon-wrapper .accordeon-item .accordeon-item-content:last-child {
  padding-bottom: 1.5em;
}
.accordeon-wrapper .accordeon-item.active .accordeon-item-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #fff;
  font-weight: bolder;
}
.accordeon-wrapper .accordeon-item.active .accordeon-item-title:after {
  color: #fff;
  content: "-";
}
.accordeon-wrapper .accordeon-item.active .accordeon-item-content {
  display: block;
}
.accordeon-wrapper .accordeon-item:not(.active) .accordeon-item-title {
  transition: all 0.2s ease;
  background-color: #fff !important;
}
.accordeon-wrapper .accordeon-item:not(.active) .accordeon-item-title:hover {
  box-shadow: 0 5px 5px #d4d4d4;
}
.accordeon-has-path {
  display: inline-block;
  float: right;
  width: calc(100% - 3em);
}
.accordeon-has-path .accordeon-item {
  position: relative;
}
.accordeon-has-path .accordeon-item:before,
.accordeon-has-path .accordeon-item:after {
  margin-left: -3em;
  display: inline-block;
  float: left;
  content: "";
  position: absolute;
  top: 1em;
}
.accordeon-has-path .accordeon-item:before {
  left: 0.5em;
  bottom: -3em;
  background: #dedede;
  width: 1px;
}
.accordeon-has-path .accordeon-item:after {
  height: 1em;
  width: 1em;
  border-radius: 3em;
  background: gray;
}
.accordeon-has-path .accordeon-item:last-child:before {
  content: none;
}
#cta-col {
  padding-top: 6.78em;
  padding-left: 2.5em;
  padding-bottom: 3em;
  margin-top: -2em;
  z-index: 0;
  background: #eeeeee;
  border-left: solid 1px #a1a1a1;
  border-bottom: solid 1px #a1a1a1;
}
#cta-col hr {
  min-width: 100%;
  border-top: solid 1px #a0a0a0;
}
#cta-col h3 {
  margin: 0 0 0.5em 0;
}
#cta-col:after,
#cta-col:before {
  border-bottom: solid 1px #a1a1a1;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 100%;
  background: #eee;
  width: 300%;
}
#cta-col:before {
  content: none;
}
#cta-col i {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
#cta-col #call-link,
#cta-col #mail-link {
  font-size: 1.1em;
  color: #bf3b2b;
  font-weight: bolder;
  margin: 0.5em 0;
}
@media only screen and (max-width: 1200px) {
  #cta-col {
    background: #eeeeee;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
  }
  #cta-col:before,
  #cta-col:after {
    border: none !important;
  }
  #cta-col:before {
    border-bottom: solid 1px #a1a1a1;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: -100%;
    background: #eeeeee;
    width: 100%;
  }
}
