




/* Template une formation
--------------------------------------------- */
.container-wp:nth-child(even){
	background: #f9f9f9;
}
.container-wp:nth-child(odd){
	background: #fff;
}
#presentation{
	background: #fff;    
}
.container-wp{
	padding: 4em 0;
	border-bottom: solid 1px #e2e2e2;
}
#slider-formations, #references{
	padding: 0;
}
#sub-nav{
	width: 100%;
	z-index: 12;
}
#references a img {
	border-radius: 20px;
}
.wrapper{
	background: none!important;
	display: inline-block;
}
.formation-template-default #slider-formations{
	display:inherit!important;
}
.alignCenter{
	text-align: center;   
}
.alignLeft{
	text-align: left;   
}
h2{
	color: #bf3b2b;
	font-weight: bold;
	text-transform: uppercase;
	margin: .5em 0 !important;
	font-weight: 900;
	font-size: 1.7em;
}
html hr{
	margin-bottom: 1em !important;
}
html .container-slider {
	height: inherit!important;
}
p{
	font-size: 1.150em;
}
.border0{
	border:none!important;
}
.w100{
	width: 100%;
}
.margin0{
	margin: 0!important;
}

// toggable style
.toggable{
	border-radius: 5px;
	position: relative;
	p{
		margin: 0;
		margin-bottom: 1em;
	}
	.toggable-title{
		margin: 1em 0;
		padding-right: 4em;
	}
	&:hover{
		background: #eee;
	}
	&:hover:after{
		background: #fff;
		color: #535353;
		border-color: #535353;
	}
}
.toggable-btn{
	cursor: pointer;
}
.toggable-btn:after{
	transition: all .2s ease;
	content: "^";
	position: absolute;
	right: .5em;
	font-size: 3em;
	top: 0.45em;
	color: #9e9e9e;
	border: solid 1px #9e9e9e;
	border-radius: 100%;
	font-weight: 100;
	width: 1em;
	height: 1em;
	text-align: center;
	transform: rotate(180deg);
	font-size: 2em;
	line-height: 1.4em;
}
.toggaled:after{
	transform: rotate(0deg);
}
// end - toggable style

.container-menu-filtre {
	background: #f3f3f5;
	border-bottom: solid 1px #d2d2d2;
}

.big-title,
.big-title{
	font-size: 1.625em;
	border-radius:5px;
	font-weight: bold;
}
//.border-bold .col-sm-3{
//    border-right: 10px solid;
//}
//.theme-orange .border-bold .col-sm-3,
//.single-formation .col-sm-3{
//    border-color: #e74c3c;
//}
//.info-tel{
//    color: #BE3B2B;
//    margin: 35px 0 0 0;
//    text-transform: uppercase;
//    padding: 10px 0 10px 15%;
//    font-size: 1.125em;
//    font-weight: bold;
//    background: url('../images/icon-infos-tel.png') 7% center no-repeat;
//    background-size: 40px;
//    width: 100%;
//}
//.info-tel a,
//.m250 a{
//    color: #BE3B2B;
//}
//.info-pdf{
//    display: inline-block;
//    margin: 20px 0;
//    text-transform: uppercase;
//    padding: 10px 0 10px 15%;
//    color: #373636;
//    font-size: 1.125em;
//    font-weight: bold;
//    background: url('../images/icon-dl.png') 7% center no-repeat;
//    background-size: 40px;
//    width: 100%;
//}
//.info-pdf:hover{
//    text-decoration: underline;
//    color: #373636;
//    cursor: pointer;
//}
//.border-light .col-sm-3,
//.border-light .col-sm-4,
//.border-light .col-sm-6{
//    border-right: 1px solid #373636;
//}
//.post-type-archive-video .border-light .col-sm-4{
//    border-left: 1px solid #373636;
//}
//.border-light .col-sm-3:last-child,
//.border-light .col-sm-4:last-child,
//.border-light .col-sm-6:last-child{
//    border: none;
//}
ul.list,
.container__orange ul{
	background: #BE3B2B;
	color: #FFF;
	padding: 15px 15px 20px 40px;
	line-height: 26px;
	font-size: 1.250em;
	border-radius: 5px;
}
//body .redtitle h2{
//    color:#bf3b2b;
//}
//.content-info{
//    text-align: center;
//    text-transform: uppercase;
//    color: #be3b2b;
//    padding: 25px 0;
//}
//.content-info img{
//    margin-bottom: 20px;
//}
//.content-info a:hover,
//.table-inscription .btn-orange:hover{
//    background: #808080;
//    color: #fff;
//}
//.table-inscription{
//    color: #000000;
//    font-size: 1.250em;
//    border: 1px solid #373636;
//}
.table-inscription .btn-orange:hover,
.table-inscription .btn-orange:focus,
.table-inscription .btn-orange:active{
	color: #fff;
	text-decoration: none;
}
.table-inscription th{
	text-transform: uppercase;
}
.table-inscription td,
.table-inscription th{
	border: 1px solid #373636;
	text-align: center;
}
.table-inscription th{
	padding: 20px;
}
.table-inscription .btn-orange{
	display: block;
	margin: 0;
	top: 0;
	font-size: 0.800em;
	font-weight: bold;
	padding: 10px;
}
.table-inscription .indisponible .btn-orange{
	background: #fff;
	border: 1px solid #95a5a6;
	color: #95a5a6;
}
//.content-declinaison{
//    padding: 15px 0 15px;
//    text-align: center;
//}
//.content-declinaison span{
//    font-size: 1.250em;
//    color: #fff;
//    margin-bottom: .5em;
//}
//.content-actu-formation h3{
//    margin-bottom: 60px;
//    text-align: center;
//}
//.border-left-bold p{
//    padding: 30px;
//    margin: 10px 0;
//    font-weight: bold;
//    text-align:center;
//}
//.content-formateur{
//    padding: 10px 0 20px 0;
//}
//.content-formateur .col-sm-3{
//    margin-bottom: 30px;
//}
//.content-formateur .img-center{
//    background: #808080;
//    min-height: 130px;
//    line-height: 130px;
//}
//.content-formateur .lien-formation{
//    color:#373636;
//    display:block;
//    margin-top:25px;
//}
//.container-white{
//    height: 100%;
//    background: #fff;
//}
//.content-white .btn-orange{
//    display: inline-block;
//    top: 0;
//    margin: 0;
//}
//.content-white{
//    padding: 20px;
//}
//.content-white a{
//    display: block;
//    color: #373636;
//    margin: 15px 0;
//}
//.content-white a:hover{
//    color:#BF3B2B;
//}
//.content-white .btn-orange{
//    color: #FFF;
//    padding: 10px 0;
//    width: 100%;
//}
//.content-white .btn-orange:hover{
//    background: #808080;
//    color: #fff;
//}
//.fs26{
//    font-size: 1.625em;
//    margin: 10px 0 50px 0;
//}
.formation-template-default .container-slider .slick-slide{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 3em;
}
.slick-track{
	margin: auto;
}
.single-formation .col-sm-3 {
	border-color: #b3b3b3;
}
#form-heading{
	padding-top: 0 !important;
}
.form-heading{
	padding-bottom: 0!important;
}
.content-wp{
	text-align: center;
	padding: 0 1em;
	padding-bottom: 1.5em;
	font-size: .8em;
}
#version{
	background: #fff;
	margin-top: 1em;
	font-style: italic;
	font-size: .9em;
	color: #484848;
	text-align: center;
	width: auto;
	display: inline-block;
	padding: 1em;
	margin: auto;
	margin-top: 2em;
	border-radius: 5px;
	opacity: .6;
}
.insert{
	border-radius: 5px;
	margin: 1em 0;
	border: solid 1px #d6d6d6;
	background: #f7f7f7;    
	display: flex;

	img{
		border-radius: 5px;
		background: #fff;
		border-right: solid 1px #d6d6d6;
	}
	.wrapper{
		padding: 1em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background: #f7f7f7;
		.btn{
			margin: 0;
		}
	}
}
.insert-alt{
	.insert;
	display: block;
	text-align: center;
	margin-top: 0;
	img{
		border: solid 1px #d6d6d6;
		border-radius: 200px;
		margin: auto;
		margin-top: -50px;
	}
	.wrapper, img{
		display: block;
		text-align: center;
	}
	&:after{
		content: '';
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 15px solid #e8e8e8;
		position: absolute;
		right: 0px;
		top: 50px;
	}
}
strong{
	font-size: 1.1em !important;
	&:after{
		//        content: "_";
		//        display: block;
		line-height: .3em;
		color: #a9a9a9;
		font-weight: 100;
	}
}
.info-item{
	border-bottom: solid 1px #e0e0e0;
	padding: 1em;

	&:last-child{
		border: none;
	}
}
.col-r{
	border: solid 1px #eee;
	border-radius: 4px;
}
#obsolete{
	background: #BF3B2B;
	border-bottom: solid 1px #D0D0D0;
	color: #FFFFFF;
	padding: 0em 1em;

	.alert-ico{
		font-size: 1.5em;
		margin-right: .5em;
	}
	.btn{
		color: #D60000!important;   
		border-color: #D60000!important;  
		margin-left: .5em;
	}
}
#presentation-thema p span{
	color: #000;
}
#toggle-txt{
	cursor:pointer; 
	text-decoration: underline;
	text-align: right;
}
#objectifs{
	ul{padding: 0;}
	li{
		list-style: none;
		font-size: 1.1em!important;
		font-weight: 400;
		margin-bottom: .4em;
		&:after{content: none;}
		&:before{
			content: '';
			background-image: url(../images/ok-icon-02.svg);
			height: 1em;
			width: 1em;
			background-position: center;
			background-size: cover;
			display: inline-block;
			margin-right: .5em;
		}
	}
}
html .container-menu-filtre a{
	margin-left: 0 !important;
}
.container-menu-filtre ul li {
	margin-top: 0;
}

.testimonial-wrapper .row-same-height > [class^='col-'] {
	margin-bottom: 5em !important;
}

#programme{

	h2{
		color: #fff;
	}
	hr{
		border-color: #fff;
	}

	#programme-flex-wrap{
		max-width: 100%;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		counter-reset: section;
		h4{
			font-size: 1.1em;
			margin-top: .5em;
			padding-left: 2em;

			&:after{
				content: '';
				display: block;
				width: 100%;
				border-bottom: solid 1px #c9c9c9;
				padding-top: .5em;
			}
			&:before {
				font-weight: bolder;
				counter-increment: section;
				content: counter(section);
				border: solid 2px #4c4c52;
				border-radius: 100%;
				width: 1.5em;
				height: 1.5em;
				display: inline-block;
				text-align: center;
				line-height: 1.5em;
				font-size: .8em;
				box-sizing: content-box;
				color: #fff;
				zoom: 90%;
				position: absolute;
				transform: translateX(-2.9em);
			}
		}
		ul{
			margin: 0;
			padding: 0;
			list-style-position: outside;
			padding-left: 1.5em;
		}
		li{
			margin-top: .5em;
			margin-top: .5em;
			list-style-type: square;
		}
		i{
			margin-top: 0.7em;
			display: block;
			padding: .5em .8em;
			background: #f9f9f9;
			margin-left: -1.5em;
		}
		.card{
			height: ~"calc(100% - 30px)";
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid; /* IE 10+ */
			break-inside: avoid-column; /* W3C */ 

			margin-bottom: 1em;
			padding: 1em;
			background: #fff;
			border: solid 1px #eee;
			border-radius: 4px;
			padding-bottom: 30px;
		}
	}
}

/* ---------------- */
/* Html anchor offset 
--- (fixed nav fix) */
/* ---------------- */
#presentation::before, #informations::before, #programme::before, #Inscription::before, #temoignages::before {
	content: '';
	display: block;
	height:      90px;
	margin-top: -90px;
	visibility: hidden;
}


/* ---------------- */
/* Set thema colors */
/* ---------------- */

@set: {
	orange: #e74c3c;
	gray: #95a5a6;
	blue: #3498db;
	yellow: #f59d00;
	green: #2ecc71;
	blue-dark: #34495e;
	}
	each(@set, {

		.single-formation .container-slider.main-slider.theme-@{key}{
			background-color: @value !important;
			}
	#programme-wrapper-@{key}{
		background: @value;
		}
	#programme #programme-flex-wrap h4.@{key}{

		color: @value;

		&:before{
		background: @value;
		border-color: @value;
		}
	&:after{
		border-color: @value;
		}

	}
});

/* --------------- */
/* Datadock Banner */
/* --------------- */

#datadock{
	text-align: center;
	padding: 1em 0;
	img, h4{
		display: inline-block;
	}
	h4{
		color:#fff;
		font-size: 1.3em!important;
	}
}
#datadock{
	position: relative;
	z-index: 1;
	background-color: #2a89d2;
	img{
		width: 170px;
		position: relative;
		top: -.3em;
		left: 1em;
	}
}
svg{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vw;
}
.svg-top, .svg-bottom{
	position: absolute;
	width: 100%;
	z-index: 5;
}
.svg-top{
	@height: 4vh;
	top: -@height;
	left: 0;
	height: @height;
}
.svg-bottom{
	@height: 4vh;
	bottom: -3.9vh;
	left: 0;
	height: @height;
}   
@media(max-width:768px){
	#datadock{
		display: none;
	}
}
/* /end - Datadock Banner */


/* ---------------- */
/* Responsive stuff */
/* ---------------- */
@media(max-width:768px){
	.container-wp{
		padding: 1em;
	}
	// heading
	html .container-slider {
		height: inherit!important;
		display: inline-block;
		max-width: 100%;
	}
	html .slick-slide{
		height: auto!important;
		width: 100%;
		margin: 0;
		padding: 3em 0 !important;
	}
	// anchor placeholder kill
	#presentation::before, #informations::before, #programme::before, #Inscription::before, #temoignages::before {
		content: none;
	}
	// 
	html body .container-wp{
		background: #f9f9f9 !important;
	}
	[id^="programme-wrapper-"]{
		background: #f9f9f9!important;
		h2{
			color: #be3b2b !important;
		}
		hr {
			border-color: #000000 !important;
		}

	}
	.toggleplus{
		width: 1em;
		height: 1em;
		line-height: 1em;
		background: #be3b2b;
		border-radius: 2em;
		margin: auto;
		color: #fff;
		cursor: pointer;
		padding: 0!important;
		zoom: 300%;
		text-align: center;
		transition: all .2s ease;
	}
	.insert-alt:after{content: none;}
	.insert-alt{margin-top: 6em;}
	.p-wp{width: 100%;}
	.testimonial-wrapper .row-same-height {
		display: block !important;
	}
}












