html body .header{
	background-size: auto;
	background-repeat: no-repeat;
	background-color: #fff;
	padding: 4em 0 10vw 0;
	padding-bottom: calc(10vw + 4em);
	img{
		display: block;
		margin: auto;
		margin-bottom: 1em;
	}
	&:after{
		opacity: .25;
	}
    li{
        display: inline-block;
        margin: 0 .5em;
        img{
            max-width: 70px!important;
        }
    }
}

.thema-heading{
    padding: 2em;
    text-align: center;
    margin-bottom: 3em;
    img{
        display: inline-block;
        max-width: 80px;
    }
    h3{
        margin-top: 1em !important;
        font-weight: bolder !important;
    }
}
html .page-template-tpl-nos-thematiques .header{
    background: #efefef;
    &:after{
        content: none;
    }
    hr{
        border-top-color: #6b6b6b!important;
    }
}
