html body .header{
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #fff;
    padding:0;
    margin-bottom: 3rem;
    
    img{
        display: block;
        margin: auto;
        margin-bottom: 1em;
        max-width: 50px;
    }
    &:after{
        opacity: .25;
    }
    li{
        display: inline-block;
        margin: 0 .5em;
        img{
            max-width: 70px!important;
        }
    }
    .container>.row>.col-xs-12 > p{
        max-width: initial;
        color: #5B5B5B;
        margin: 0;
    }
    .container>.row>.col-xs-12 > div{
        margin: auto;
    }
    .container>.row>.col-xs-12 > div *{
        display: inline-block;
    }

    h1{
        font-size: 1.4em;
    }
}

.thema-heading{
    padding: 2em;
    text-align: center;
    margin-bottom: 3em;
    img{
        display: inline-block;
        max-width: 80px;
    }
    h3{
        margin-top: 1em !important;
        font-weight: bolder !important;
    }
}
html .page-template-tpl-nos-thematiques .header{
    &:after{
        content: none;
    }
    hr{
        border-top-color: #fff!important;
    }
}

section.articles{
    background: #f0f0f0;
    .container-blog{
        h2{
            text-align: center;
        }
        .title{
            text-transform: uppercase;
            font-weight: bold;
            font-style: inherit;
        }
    }
}