#heading .bloc-1 {
  position: relative;
  height: auto;
  background-image: url('../img/bg-rs.jpg');
  background-position: center;
  background-size: cover;
}
#heading .bloc-1 p {
  color: #000;
}
#heading .bloc-1 .svg-1,
#heading .bloc-1 .svg-1-md {
  opacity: 0.8;
}
#heading .bloc-1 h1,
#heading .bloc-1 h2 {
  color: #bf3b2b;
}
body .btn {
  text-transform: initial;
  border-radius: 0;
}
#heading .bloc-1 [class^='col-'] {
  padding-bottom: 2em;
  padding-left: 2em;
}
#opcos .col-xs-12,
#references .col-xs-12 {
  max-width: 100%;
}
h2 {
  width: 100%;
  text-align: center;
}
#opcos img {
  max-width: 140px;
}
ul li {
    line-height: 1.5em;
    color: #555555;
}
.separator {
  width: 100%;
  max-width: initial !important;
  border-color: #c1c1c1;
  margin-bottom: 2em !important;
}
@media (max-width: 1200px) {
  .col-md-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .bloc-1 [class^='col-']:last-child {
    padding: 3em ​1em 0em 1em !important;
  }
}
@media (max-width: 1500px) {
  body .slick-next,
  body #opcos .slick-next {
    right: 30px !important;
  }
  body .slick-prev,
  body #opcos .slick-prev {
    left: 30px !important;
  }
}
.flex-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.flex-5 > div {
  width: 200px;
  text-align: center;
  font-size: 0.9em;
  background: #fff;
  margin: 2em 1em;
  position: relative;
  border-radius: 1em;
  padding: 0.5em;
  flex: 1;
}
.flex-5 > div img {
  max-width: 100px;
}
.flex-5 > div * {
  display: inline-block;
}
.flex-5 > div p {
  display: block;
}
@media (max-width: 1200px) {
  .flex-5 {
    display: block;
    text-align: center;
  }
  .flex-5 > div {
    display: inline-block;
    width: 30%;
  }
}
@media (max-width: 768px) {
  .flex-5 > div {
    display: inline-block;
    width: 80%;
  }
}
.mw1200 {
  max-width: 1200px;
  margin: auto;
}
#arrow-container {
  cursor: pointer;
}
#arrow-container div {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}
#arrow-container div img {
  display: inline-block;
}
#arrow-container img {
  transition: all 0.2s ease;
  transform: translateY(0);
}
#arrow-container:hover img {
  transform: translateY(10px);
}
.flex-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.flex-3 p {
  font-weight: bold;
  padding: 1.5em;
}
.flex-3 div {
  padding: 1em;
}
.flex-3 div img {
  width: 150px;
}
@media (max-width: 1200px) {
  .flex-3 {
    flex-direction: column;
    text-align: center;
  }
  .flex-3 p {
    margin-bottom: 0;
  }
}
#form-1-container {
  background: #f6f6f6;
  background-image: url('../img/chouette-dac.png');
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: 15%;
  padding-bottom: 3em;
}
#form-1-container h2 {
  display: block;
  margin: auto !important;
  padding: 2em 1em;
  text-align: center;
  max-width: 600px;
  font-size: 1.4em;
  color: #7a7a7a;
}
#form-1-container h2 span {
  color: #bf3b2b;
}
#form-1-container .gform_wrapper {
  max-width: 400px;
  margin: auto;
}
#a-qui-s-adresse-cette-formation h2,
#a-qui-s-adresse-cette-formation h3,
#a-qui-s-adresse-cette-formation p > span {
  color: #555555 !important;
}
#a-qui-s-adresse-cette-formation p {
  font-weight: bold;
}
#a-qui-s-adresse-cette-formation h3 {
  font-weight: bold !important;
  font-style: initial !important;
  font-size: 1.2em !important;
}
#a-qui-s-adresse-cette-formation [class^=flex-] > div {
  box-shadow: 0px 2px 3px #dddddd;
  border-radius: 0.3em;
  flex: 1;
  align-self: stretch;
}
#a-qui-s-adresse-cette-formation ul {
  padding: 0;
}
#a-qui-s-adresse-cette-formation li {
  list-style: none;
  text-transform: uppercase;
}
#a-qui-s-adresse-cette-formation li::before {
  content: '►';
  margin-right: 0.5em;
  color: #3d00cc;
  font-size: 1.2em;
}
#a-qui-s-adresse-cette-formation .row {
  padding: 3.5em 1em 7em 1em;
}
#a-qui-s-adresse-cette-formation #calendly {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 0;
}
#a-qui-s-adresse-cette-formation #calendly .content {
  background: #eee;
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: block;
  position: relative;
  z-index: 1;
}
#a-qui-s-adresse-cette-formation #calendly:before {
  content: '';
  background-color: #3d00cc;
  position: absolute;
  width: 400%;
  min-height: 400%;
  bottom: 0;
  right: 0;
  transform: skew(72deg, -8deg);
  transform-origin: bottom right;
  z-index: 0;
}
@media (max-width: 1200px) {
  #a-qui-s-adresse-cette-formation h3 {
    margin-top: 5em;
  }
}
#jeremy-notre-formateur {
  background: #bf3b2b;
  margin-bottom: 5em;
}
#jeremy-notre-formateur * {
  color: #fff;
}
#jeremy-notre-formateur .h2,
#jeremy-notre-formateur .h1 {
  font-size: 1.7em;
  display: block;
}
#jeremy-notre-formateur .h1 {
  font-weight: bold;
}
#jeremy-notre-formateur .h2 {
  margin-top: 1em;
}
#jeremy-notre-formateur p {
  margin-bottom: 2em;
}
#jeremy-notre-formateur img {
  max-width: 220px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#jeremy-notre-formateur [class^="col-"]:nth-child(2) {
  padding: 0 4em;
}
@media (max-width: 560px) {
  #jeremy-notre-formateur {
    background: #fff;
    padding: 0;
  }
  #jeremy-notre-formateur img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 170px;
  }
  #jeremy-notre-formateur [class^="col-"]:nth-child(2) {
    background: #bf3b2b;
  }
}
#presentation h3 {
  color: #bf3b2b !important;
  font-weight: bold !important;
  font-style: initial !important;
  font-size: 1.2em !important;
}
#presentation .txt {
  padding: 2em;
}
@media screen and (min-width: 992px) {
  .pl-sm-6 {
    padding-left: 3em;
  }
}
.gform_fields {
  padding: 0;
}
.gform_fields li {
  list-style: none;
}
.gform_fields label {
  display: none;
}
.gform_fields input,
.gform_fields textarea {
  padding: 1em;
  margin-bottom: 1em;
  width: 100% !important;
  border: solid 1px #eee;
  max-height: 100px;
}
.gform_fields input::placeholder,
.gform_fields textarea::placeholder {
  color: #757575;
}
.gform_fields .gform_validation_container {
  display: none;
}
.gform_footer input[type="submit"] {
  width: 100% !important;
  margin: 0 !important;
  margin-top: -1em !important;
  margin-bottom: 2em !important;
  text-transform: initial !important;
}
.form-wrapper {
  margin-bottom: 5em;
  position: relative;
  padding: 0;
  box-shadow: 1px 1px 6px #d9d9d9;
}
#presentation .form-wrapper .content {
  padding: 1em 3em;
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
#presentation .form-wrapper:before {
  content: '';
  background-color: #bf3b2b;
  position: absolute;
  width: 400%;
  min-height: 400%;
  bottom: 0;
  left: 0;
  transform: skew(-75deg, 2deg);
  transform-origin: bottom left;
  z-index: 0;
}
#form-1-container .form-wrapper {
  background: #ffffff;
  max-width: 400px;
  margin: 0 auto 2em auto;
}
#form-1-container .form-wrapper .gform_wrapper {
  margin: 0;
  padding: 1em 2em;
  width: 100%;
}
#form-1-container .form-wrapper .gform_footer input[type="submit"] {
  margin-bottom: 1em !important;
}
.gform_confirmation_message {
  padding: 2em;
  text-align: center;
  font-size: 1.2em;
}
#faq {
  background: #eee;
  padding-bottom: 5em;
  width: 100%;
}
#faq .faq ul {
  display: none;
}
#faq .faq ul li {
  box-shadow: 0px 2px 3px #dddddd;
}
#faq .faq ul.active {
  display: inherit;
}
#faq ul,
#faq li,
#faq .col-xs-12 {
  list-style: none;
  width: 100% !important;
}
#faq .faq > ul > li {
  background: #fff;
  margin: 0 0 1em 0;
  padding: 0 0 0.1em 0;
}
#faq .faq > ul > li h3 {
  font-weight: bold !important;
  padding: 0.8em 1em;
  user-select: none;
  cursor: pointer;
  color: #000;
  margin: 0;
  font-size: 1.3em !important;
  font-style: initial !important;
  position: relative;
}
@media (max-width: 992px) {
  #faq .faq > ul > li h3 {
    padding: 0.8em 2.2em 0.8em 0.8em;
  }
}
#faq .faq > ul > li h3:not(.active) {
  transition: all 0.1s ease;
}
#faq .faq > ul > li h3:not(.active):after {
  transition: all 0.2s ease;
  content: "";
  right: 0.4em;
  top: 0.5em;
  font-size: 2em;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #bf3b2b;
  transform: rotate(-90deg);
}
#faq .faq > ul > li h3:not(.active):hover {
  background: #e6e6e8;
}
#faq .faq h3.active:after {
  transition: all 0.2s ease;
  content: "";
  right: 0.4em;
  top: 0.5em;
  font-size: 2em;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #bf3b2b;
  transform: rotate(0deg);
}
#faq h3 + p {
  padding-left: 1.5em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  border-left: solid 5px #bf3b2b;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  display: none;
}
#faq .faq > ul {
  padding-left: 0;
  padding-top: 1em;
}
@media (max-width: 992px) {
  #faq .faq > ul {
    padding: 0;
  }
}
#cta-section {
  background: #bf3b2b;
  display: flex;
  justify-content: center;
  padding: 1.5em 1em;
}
#cta-section .btn {
  font-size: 1.5em;
}
/*# sourceMappingURL=./landing-page-formation.css.map */